<app-bread-crumb
  [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
  >
</app-bread-crumb>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
  </div>
  <div class="col-md">
    <a routerLink="/categories" class="btn btn-light float-right"><< Voltar</a>
  </div>
</div>

<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

  <div class="card">
    <div class="card-header">Informações sobre a Categoria</div>
    <div class="card-body">
      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Category Name"  formControlName='name'>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Description</label>
          <input type="text" class="form-control" placeholder="Category Description"  formControlName='description'>
        </div>

      </div>
    </div>
  </div>
  <button [disabled]="!resourceForm.valid" type="submit" class="btn btn-primary btn-md float-right mt-3">Salvar</button>

</form>

